body {
    margin:0;
    padding:0;
}
 .main {
            width: 1200px;
            height: auto;
            background: #eee;
            margin: 20px auto;
            padding: 20px;
            box-shadow: 0px 0px 20px #999;
        }
 .commentbutton{
     margin-left:400px;
 }
        .inner {
            border: solid ;
            width: 1000px;
            height: 1000px;
            margin-left: 100px;
        }

            .inner h1 {
                text-align: center;
            }

            .inner h2 {
                float: left;
                margin-left: 20px;
            }

            .inner h4 {
                float: right;
                margin-right: 20px;
            }

            .inner p {
                float: left;
                margin-left: 20px;
                margin-right: 20px;
                margin-top: 10px;
            }

            .inner h3 {
                margin-left: 20px;
                margin-top: 90px;
            }

        #username {
            float: left;
            margin-left: 20px;
        }

        .img1 {
            width: 50px;
            height: 50px;
            margin-top: 50px;
            margin-left: -50px;
        }

        .img2 {
            width: 50px;
            height: 50px;
            margin-top: 50px;
            margin-left: 10px;
        }

        .inner p {
            float: left;
        }